parameters:
    level: 8
    paths:
        - ../../../src
        - ../../../tests
    ignoreErrors:
        # I can't remove this phpstan error because of the bad typehint of Symfony
        - '#Method Steevanb\\ParallelProcess\\Console\\Output\\ConsoleBufferedOutput\:\:write\(\) has parameter \$messages with no value type specified in iterable type iterable.#'
        # I can't remove this phpstan error because of the bad typehint of Symfony
        - '#Method Steevanb\\ParallelProcess\\Tests\\Console\\Output\\TestOutput::write\(\) has parameter \$messages with no value type specified in iterable type iterable.#'
        # I can't remove this phpstan error because of the bad typehint of Symfony
        - '#Method Steevanb\\ParallelProcess\\Tests\\Console\\Output\\TestOutput::writeln\(\) has parameter \$messages with no value type specified in iterable type iterable.#'
        # To be compatible with Symfony Console 6.3, who require int|false as return type insteand of void for olver versions
        -
            message: '#Return type \(void\) of method Steevanb\\ParallelProcess\\Console\\Application\\ParallelProcessesApplication::handleSignal\(\) should be compatible with return type \(int\|false\) of method Symfony\\Component\\Console\\Command\\SignalableCommandInterface::handleSignal\(\)#'
            reportUnmatched: false
includes:
    - /composer/common/vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - /composer/common/vendor/phpstan/phpstan-phpunit/extension.neon
    - /composer/common/vendor/phpstan/phpstan-phpunit/rules.neon
    - /composer/common/vendor/phpstan/phpstan-strict-rules/rules.neon
    - /composer/common/vendor/spaze/phpstan-disallowed-calls/extension.neon
    - /composer/common/vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - /composer/common/vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - /composer/common/vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
    - /composer/common/vendor/spaze/phpstan-disallowed-calls/disallowed-loose-calls.neon
rules:
    - Ergebnis\PHPStan\Rules\Classes\PHPUnit\Framework\TestCaseWithSuffixRule
    - Ergebnis\PHPStan\Rules\Expressions\NoErrorSuppressionRule
    - Ergebnis\PHPStan\Rules\Expressions\NoIssetRule
    - Ergebnis\PHPStan\Rules\Files\DeclareStrictTypesRule
