parameters:
    level: 8
    tmpDir: ../../var/ci/phpstan
    paths:
        - ../../src
includes:
    - /composer/vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - /composer/vendor/phpstan/phpstan-strict-rules/rules.neon
    - ../../vendor/steevanb/php-typed-array/bridge/Phpstan/rules.neon
