<phpunit
    cacheResultFile="../../var/ci/phpunit/.phpunit.result.cache"
    colors="true"
>
    <testsuites>
        <testsuite name="default">
            <directory>../../tests</directory>
        </testsuite>
    </testsuites>
    <coverage
        cacheDirectory="../../var/ci/phpunit/coverage/cache"
        processUncoveredFiles="true"
    >
        <include>
            <directory suffix=".php">../../src</directory>
        </include>
    </coverage>
</phpunit>
