name: Build parallel-processes Docker images

on:
    workflow_dispatch:
        inputs:
            version:
                description: Version
                required: true

jobs:
    build:
        name: Build parallel-processes Docker images
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            -
                uses: ./.github/actions/build-docker-image-parallel-processes
                with:
                    version: ${{ github.event.inputs.version }}
                    DOCKER_HUB_TOKEN: ${{ secrets.DOCKER_HUB_TOKEN }}
