name: Build Docker image release

on:
    workflow_dispatch: ~

permissions:
    contents: read
    packages: write

jobs:
    build:
        name: Build release Docker image
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5

            -
                name: Log in to GitHub Container Registry
                uses: docker/login-action@v3
                with:
                    registry: ghcr.io
                    username: ${{ github.actor }}
                    password: ${{ secrets.GITHUB_TOKEN }}

            - run: bin/release/docker --push
