name: Build parallel-processes Docker images

on:
    workflow_dispatch: ~

jobs:
    build:
        name: Build parallel-processes Docker images
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            -
                uses: ./.github/actions/build-docker-image-parallel-processes
                with:
                    DOCKER_HUB_TOKEN: ${{ secrets.DOCKER_HUB_TOKEN }}
