name: CI

on: [push]

jobs:
    validate:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6

            - name: Cache vendor
              uses: actions/cache@v5
              with:
                  path: vendor
                  key: composer-${{ hashFiles('composer.json') }}

            - run: bin/ci/env

            - run: bin/ci/validate -v --theme=summary
