name: Release

on:
    workflow_dispatch:
        inputs:
            version:
                description: Version
                required: true

permissions:
    contents: write
    pull-requests: write

jobs:
    build:
        name: Release
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            -
                name: Composer cache
                uses: actions/cache@v5
                with:
                    path: vendor
                    key: composer-${{ hashFiles('composer.json') }}
                    restore-keys: composer-${{ hashFiles('composer.json') }}
            - run: bin/release/env
            - run: bin/release/prepare "${{ github.event.inputs.version }}"
            -
                id: create-pull-request
                name: Create pull request
                uses: peter-evans/create-pull-request@v8
                with:
                    title: Release ${{ github.event.inputs.version }}
                    commit-message: Release ${{ github.event.inputs.version }}
                    base: master
                    branch: release-${{ github.event.inputs.version }}
                    labels: Release
                    delete-branch: true
            -
                name: Merge pull request
                env:
                    GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                run: gh pr merge ${{ steps.create-pull-request.outputs.pull-request-number }} --rebase --delete-branch --admin
            -
                name: Create release
                uses: softprops/action-gh-release@v2
                with:
                    tag_name: ${{ github.event.inputs.version }}
                    body: "[Changelog](changelog.md)"
            -
                name: Build and push Docker image parallel-processes-${{ github.event.inputs.version }}
                uses: ./.github/actions/build-docker-image-parallel-processes
                with:
                    version: ${{ github.event.inputs.version }}
                    DOCKER_HUB_TOKEN: ${{ secrets.DOCKER_HUB_TOKEN }}
